<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("/style.css") %>" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div class='bookmarks-container'>
  <h1 class="bookm-title">Bookmark Manager</h1>
  <div class="bookmark-list">
  <h2>Here are your Bookmarks</h2>
  <% @bookmarks.map do |bookmark| %>
  <li>
 <%= bookmark.title %> - <a href="<%= bookmark.url %>">
  <%= bookmark.url %>
  </a>
  </li>

  <form class="delete-entry" action="/bookmarks/<%= bookmark.id %>" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <input class="delete-btn" id=delete-<%= bookmark.id %> type="submit" value="Delete">
    </form>
  <% end %>
  </div><br>


  <form class="entry-form" action="/bookmarks/create" method="post">
        <input type="text" name="title" required>
        <input type="text" name="url" required>
        <input class="create-btn" type="submit" value="Create">
    </form>

</div>
</body>
</html>